<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="ua.hneu.student.domain.Student" />
        <mapping class="ua.hneu.student.domain.Speciality" />
        <mapping class="ua.hneu.student.domain.Group" />
    </session-factory>
</hibernate-configuration>